{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
  </head>
  <body>
    <div class="container">
      <header>
        {% if index_page %}
          <img src="{% static 'logo.png' %}" alt="Logo" class="logo" />
        {% endif %}
        <h1>
          {% block header %}

          {% endblock %}
        </h1>
        {% if index_page and user.is_authenticated %}
          <p class="user-info">
            Login as: <span class="username">{{ user.username }}</span>
          </p>
        {% endif %}
      </header>

      {% block content %}

      {% endblock %}

      <footer>
        {% if index_page %}
          <p class="notes-quantity">Notes: 34</p>
          <p class="notes-quantity">Private: 20 Public: 14</p>
        {% else %}
          <a href="{% url 'core:index' %}">To main page</a>
        {% endif %}
        <p>&copy; 2025 Notes App. All rights reserved.</p>
      </footer>
    </div>
  </body>
</html>
